:root{
    --primary-color: rgb(255, 240, 179);
    --breaker-color: rgb(190, 174, 110);
    --description-color: rgb(255, 240, 179);
    background-color: var(--primary-color);
}
@media (max-width: 768px){

}

#headerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 4%;
    margin-top: 4%;
}
#headerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 120px;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0px 5px 13px var(--breaker-color);
}
#mainDescription{
    margin-top: -5%;
}
.pizzaLogo{
    width: 40%;
}
.pizzaTypesSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#pizzaMargherita{
    background-image: url(pizzas/test-pizza-image-4.jpeg);
}
#meatPizzas{
    background-image: url(pizzas/test-pizza-image-2.jpeg);
}
#veganPizzas{
    background-image: url(pizzas/test-pizza-image-3.jpeg);
}
#mixedPizzas{
    background-image: url(pizzas/test-pizza-image-1.jpeg);
}
.pizzaTypesBox{
    width: 75%;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid var(--primary-color) 5px;
    border-radius: 20px;
    box-shadow: 0px 5px 13px var(--breaker-color);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    z-index: -2;
    margin-top: 4%;
    margin-bottom: 4%;

}
.pizzaTypesHeader{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pizzaTypesHeader::after{
    position: absolute;
    content: '';
    background-color: var(--description-color);
    width: 130%;
    height: 30px;
    border-radius: 20px;
    opacity: 75%;
    z-index: -1;
}
.pizzaTypesAnchor{
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}