:root{
    --primary-color: rgb(255, 240, 179);
    --breaker-color: rgb(190, 174, 110);
    --description-color: rgb(255, 240, 179);
    --text-color: rgb(104, 89, 60);
    background-color: var(--primary-color);
}
.body{
    position: relative;
    z-index: -2;
    background-image: url(icons/pizza-page-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}
.pizzaPresentationSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 5%;
    margin-bottom: -10%;
}
.pizzaBigImage{
    width: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pizzaBigImageBox{
    width: fit-content;
    height: fit-content;
    border-radius: 100px;
    box-shadow: 0px 5px 13px var(--breaker-color);
    background-color: var(--primary-color);
}
.pizzaDescriptionSubtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
.pizzaElementGroup{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5%;
}
.pizzaElementImage{
    width: 8%;
    margin-right: 1%;
}
.pizzaDescriptionElement{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
.pizzaDescriptionSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}
.pizzaDescriptionBox{
    width: 90%;
    height: min-content;
    border-left: solid var(--breaker-color) 5px;
}
.pizzaPriceGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -7%;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pizzaPriceElement{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pizzaPriceGroup::after{
    position: absolute;
    content: '';
    width: 75%;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--primary-color), var(--breaker-color));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
}
.breakerSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.breakerLine{
    width: 90%;
    height: 5px;
    border-radius: 100px;
    background-color: var(--breaker-color);
}
.pizzaPageHeader{
    color: var(--text-color);
}
.pizzaPageHeaderSection{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}